*{ 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.header{
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #631111;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    color: #631111;
}

.navigation a{
    padding: 0px 20px;
    color: white;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

main{
    background-color: black;
    padding-top: 20px;
    width: 100%;
    height: 200vh;
    background-image: url("https://images.unsplash.com/photo-1517455612269-8377057c3b55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: contain;
  }

  section{
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
  }
      form{
        margin: 5%;
        width: 30%;
        height: 40vh;
        background-color: #F5F5F5;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
          label{
            margin: 10px;
            width: 70%;
            height: 40px;
            border-radius: 20px;
          }
          input{
            margin: 10px;
            width: 70%;
            height: 60px;
            border-radius: 20px;
          }
      }
 

      @media (max-width: 980px){
          .navigation{
              width: 40%;
          }
          form{
            width: 70%;
          }

      }
    
      