

<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/site.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap" rel="stylesheet">

    <title>Admin</title>
</head>

<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>ADMIN<span> MANAGEMENT SYSTEM</span></h1>
                </div>
                <div class="navigation">
                    <a href="/admin">Sign Out</a>
                    
    
    
                    <div class="dropdown">
                    <button class="dropbtn" onclick="myFunction()">Articles
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content" id="myDropdown">
                             <a href="/admin/articles">articles page</a>
                            <a href="/admin/articles/new">add new article</a>
                            <a href="/admin/articles/edit">edit article</a>
                         
                          </div>
                          </div>
                       
                          <div class="dropdown">
                            <button class="dropbtn" onclick="myFunction()">Rovers
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <a href="/admin/rovers">rovers page</a>
                                <a href="/admin/rovers/images">rover images</a>
                                <a href="/admin/rovers/timeline">rover timeline</a>
                                <a href="/admin/rovers/timeline/new">add timeline event</a>
                                <a href="/admin/rovers//edit">edit rover timeline</a>
                                  </div>
                          </div>

                          <div class="dropdown">
                            <button class="dropbtn" onclick="myFunction()">Editors
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <a href="/admin/editors">editors list</a>
                                <a href="/admin/editors/new">add new admin</a>
                                  </div>
                          </div>
                    
                    </div>
                    </div> 
                  </div>
                    
    </div>
    <main >
        {% block content %}{% endblock %} 
    </main>
</body>

</html>