<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/site.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap" rel="stylesheet">

    <title>Admin</title>
</head>

<body>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1>ADMIN<span> MANAGEMENT SYSTEM</span></h1>
            </div>

            <ul class="navigation">
                <li><a href="/home">Home</li></a>
                <li><a href="/admin/sign-in"><li>Log In</li></a>
                <li><a href="/admin/editors/new">Add New Admin</li></a>
            </ul>
        </div>
    </div>
    <main >
        {% block content %}{% endblock %} 
    </main>
</body>

</html>