{% extends "_adminBase.html" %}

{% block content %}

<section>
<form method="post" action="/admin/articles/new" class="manage">
    <h2>Add News Article </h2>

    <label for="imageUrl">Image Url</label>
    <input id="imageUrl" type="text" name="imageUrl" required/>

    <label for="title">Title</label>
    <input id="title" type="text" name="title" required/>

    <label for="summary">Summary</label>
    <input id="summary" type="text" name="summary" required/>

    <label for="articleUrl">Article Url</label>
    <input id="articleUrl" type="text" name="articleUrl" required/>

    <label for="publishDate">Publish Date</label>
    <input id="publishDate" type="date" name="publishDate" required/>



    <button type="submit">Submit</button>

</form>
</section>
{% endblock %}